[sources]
unknown-registry = "deny"
unknown-git = "deny"

# here we can explicitly enable registries we allow,
# crates.io is already added by default though - so this is not needed
# allow-registry = [
#     "https://github.com/rust-lang/crates.io-index"
# ]

allow-git = [
    "https://github.com/EmbarkStudios/spdx",
    #"https://github.com/EmbarkStudios/cfg-expr",
]

# Or we could allow the entire org
#[sources.allow-org]
#github = ["EmbarkStudios"]

