[submodule "tests/advisory-db/github.com-c373669cccc50ac0"]
	path = tests/advisory-db/github.com-c373669cccc50ac0
	url = https://github.com/EmbarkStudios/test-advisory-db
[submodule "tests/advisory-db/github.com-9b36585d9d99f7b3"]
	path = tests/advisory-db/github.com-9b36585d9d99f7b3
	url = https://github.com/rustsec/advisory-db
