[submodule "tests/advisory-db/test-advisory-db-c27873b782cceedc"]
	path = tests/advisory-db/test-advisory-db-c27873b782cceedc
	url = https://github.com/EmbarkStudios/test-advisory-db
[submodule "tests/advisory-db/advisory-db-3157b0e258782691"]
	path = tests/advisory-db/advisory-db-3157b0e258782691
	url = https://github.com/rustsec/advisory-db
