[package]
name = "cargo-deny"
description = "Cargo plugin to help you manage large dependency graphs"
repository = "https://github.com/EmbarkStudios/cargo-deny"
version = "0.6.7"
authors = ["Embark <opensource@embark-studios.com>", "Jake Shadle <jake.shadle@embark-studios.com>"]
edition = "2018"
license = "MIT OR Apache-2.0"
readme = "README.md"
documentation = "https://docs.rs/cargo-deny"
homepage = "https://github.com/EmbarkStudios/cargo-deny"
categories = ["development-tools::cargo-plugins"]
keywords = ["cargo", "license", "spdx", "ci", "advisories"]
exclude = [
  "examples/",
  ".github/",
]

[badges]
maintenance = { status = "actively-developed" }

[[bin]]
name = "cargo-deny"
path = "src/cargo-deny/main.rs"

[features]
default = ["vendored-openssl"]
vendored-openssl = ["rustsec/vendored-openssl"]

[dependencies]
ansi_term = "0.12.1"
anyhow = "1.0.25"
askalono = "0.4.1"
atty = "0.2.13"
bitvec = { version = "0.17.1", features = ["alloc"] }
chrono = "0.4.10"
clap = "2.33.0"
codespan = { version = "0.9.0", features = ["reporting"] }
codespan-reporting = "0.9.0"
crossbeam = "0.7.3"
fern = "0.6.0"
home = "0.5.3"
krates = "0.2.0"
log = "0.4.8"
rayon = "1.3.0"
regex = { version = "1.3.1", default-features = true }
semver = "0.9.0"
serde = { version = "1.0.103", features = ["derive"] }
serde_json = "1.0.52"
smallvec = "1.1.0"
spdx = "0.3.0"
structopt = "0.3.5"
toml = "0.5.5"
twox-hash = { version = "1.5.0", default-features = false }
url = "2.1.0"
rustsec = "0.18.0"

[dev-dependencies]
# We use this for pretty printing errors
difference = "2.0.0"
# Avoid loading license check many times
lazy_static = "1.4.0"
# We use this for creating fake crate directories for
# crawling license files on disk
tempfile = "3.1.0"
