[package]
name = "cargo-deny"
description = "Cargo plugin to help you manage large dependency graphs"
repository = "https://github.com/EmbarkStudios/cargo-deny"
version = "0.3.0"
authors = ["Embark <opensource@embark-studios.com>", "Jake Shadle <jake.shadle@embark-studios.com>"]
edition = "2018"
license = "MIT OR Apache-2.0"
readme = "README.md"
documentation = "https://docs.rs/cargo-deny"
homepage = "https://github.com/EmbarkStudios/cargo-deny"
categories = ["development-tools::cargo-plugins"]
keywords = ["cargo", "license", "spdx", "ci"]
exclude = [
  # Exclude the zstd cache for now, as we are using the vanilla
  # askalono with support for gzip
  "spdx_cache.bin.zstd",
  "examples/",
  ".github/",
]

[badges]
maintenance = { status = "actively-developed" }

[[bin]]
name = "cargo-deny"
path = "src/cargo-deny/main.rs"

[dependencies]
ansi_term = "0.11.0"
anyhow = "1.0.19"
askalono = "0.4.0"
atty = "0.2.13"
bitvec = { version = "0.15.2", features = ["alloc"] }
cargo_metadata = "0.9.0"
chrono = "0.4.9"
clap = "2.33.0"
codespan = "0.5.0"
codespan-reporting = "0.5.0"
crossbeam = "0.7.2"
erased-serde = "0.3.9"
fern = "0.5.9"
log = "0.4.8"
parking_lot = "0.9.0"
petgraph = "0.4.13"
rayon = "1.2.0"
regex = { version = "1.3.1", default-features = true }
semver = "0.9.0"
serde = { version = "1.0.102", features = ["derive"] }
serde_json = "1.0.41"
smallvec = "1.0.0"
spdx = "0.2.3"
structopt = "0.3.3"
toml = "0.5.5"
twox-hash = { version = "1.5.0", default-features = false }

[dev-dependencies]
# We use this for pretty printing errors
difference = "2.0.0"
# Avoid loading license check many times
lazy_static = "1.4.0"
# We use this for creating fake crate directories for
# crawling license files on disk
tempfile = "3.1.0"
