[package]
name = "cargo-deny"
description = "Like #[deny(...)] and #[allow(...)] for your CI"
repository = "https://github.com/EmbarkStudios/cargo-deny"
version = "0.1.0"
authors = ["Embark <opensource@embark-studios.com>", "Jake Shadle <jake.shadle@embark-studios.com>"]
edition = "2018"
license = "MIT OR Apache-2.0"
readme = "README.md"

[badges]
travis-ci = { repository = "EmbarkStudios/cargo-deny", branch = "master" }

[[bin]]
name = "cargo-deny"
path = "src/cargo-deny/main.rs"

[dependencies]
ansi_term = "0.11.0"
atty = "0.2.11"
cargo_metadata = "0.8.0"
clap = "2.33.0"
erased-serde = "0.3.9"
failure = "0.1.5"
log = "0.4.6"
petgraph = "0.4.13"
rayon = "1.1.0"
regex = "1.1.7"
semver = "0.9.0"
serde = { version = "1.0.92", features = ["derive"] }
serde_json = "1.0.39"
slog = { version = "2.4.1", features = ["max_level_trace", "release_max_level_debug"] }
slog-async = "2.3.0"
slog_derive = "0.1.1"
slog-json = "2.3.0"
slog-perf = "0.2.0"
slog-term = "2.4.0"
spdx = "0.1.0"
structopt = "0.2.16"
toml = "0.5.1"
twox-hash = "1.3.0"

[dependencies.askalono]
version = "0.3.0"
git = "https://github.com/EmbarkStudios/askalono.git"
rev = "f57c60d"

[dev-dependencies]
# We use this for pretty printing errors
difference = "2.0.0"
# Avoid loading license check many times
lazy_static = "1.3.0"
# We use this for creating fake crate directories for
# crawling license files on disk
tempfile = "3.0.8"
