[package]
name = "cargo-deny"
description = "Cargo plugin to help you manage large dependency graphs"
repository = "https://github.com/EmbarkStudios/cargo-deny"
version = "0.7.3"
authors = ["Embark <opensource@embark-studios.com>", "Jake Shadle <jake.shadle@embark-studios.com>"]
edition = "2018"
license = "MIT OR Apache-2.0"
readme = "README.md"
documentation = "https://docs.rs/cargo-deny"
homepage = "https://github.com/EmbarkStudios/cargo-deny"
categories = ["development-tools::cargo-plugins"]
keywords = ["cargo", "license", "spdx", "ci", "advisories"]
exclude = [
  "examples/",
  ".github/",
]

[badges]
maintenance = { status = "actively-developed" }

[[bin]]
name = "cargo-deny"
path = "src/cargo-deny/main.rs"

[features]
default = ["vendored-openssl"]
vendored-openssl = ["rustsec/vendored-openssl"]
standalone = ["cargo"]

[dependencies]
ansi_term = "0.12.1"
anyhow = "1.0"
askalono = "0.4"
atty = "0.2"
bitvec = { version = "0.17", features = ["alloc"] }
cargo = { version = "0.46.1", optional = true }
chrono = "0.4"
clap = "2.33"
codespan = { version = "0.9", features = ["reporting"] }
codespan-reporting = "0.9"
crossbeam = "0.7.3"
fern = "0.6.0"
home = "0.5.3"
krates = { version = "0.4.0", features = ["targets"] }
log = "0.4.8"
rayon = "1.4.1"
regex = { version = "1.3", default-features = true }
semver = "0.10"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
smallvec = "1.4"
# Versions of smol_str > 0.1.16 include code that only works on latest stable
# (1.46+) which is far too aggressive for what is just a transitive dependency
smol_str = { version = "=0.1.16" }
spdx = "0.3"
structopt = "0.3"
toml = "0.5"
twox-hash = { version = "1.5", default-features = false }
url = "2.1"
rustsec = "0.21"

[dev-dependencies]
# We use this for pretty printing errors
difference = "2.0.0"
# Avoid loading license check many times
lazy_static = "1.4.0"
# We use this for creating fake crate directories for
# crawling license files on disk
tempfile = "3.1.0"
