# cargo-deny is really only ever intended to run on the "normal" tier-1 targets
targets = [
    { triple = "x86_64-unknown-linux-gnu" },
    { triple = "aarch64-unknown-linux-gnu" },
    { triple = "x86_64-unknown-linux-musl" },
    { triple = "aarch64-apple-darwin" },
    { triple = "x86_64-apple-darwin" },
    { triple = "x86_64-pc-windows-msvc" },
]

[advisories]
vulnerability = "deny"
unmaintained = "deny"
notice = "deny"
unsound = "deny"
ignore = [
    # askalono uses failure, which is now unmaintained
    "RUSTSEC-2019-0036",
    "RUSTSEC-2020-0036",
]

[bans]
multiple-versions = "deny"
deny = [
]
skip = [
    # clap uses an older version of ansi_term
    { name = "ansi_term", version = "=0.11.0" },
    # cfg-if reached 1.0 but many crates still depend on the 0.1 version
    { name = "cfg-if", version = "=0.1.10" },
    # cargo uses crypto-hash, which uses an old version
    { name = "hex", version = "=0.3.2" },
    # im-rc, used by cargo, uses an old version of rand_core
    { name = "rand_core", version = "=0.5.1" },
    # cargo uses an older version of semver
    { name = "semver", version = "=0.10.0" },
    # rustsec pulls in 0.11 via an old version of crates-index
    { name = "semver", version = "=0.11.0" },
]

[sources]
unknown-registry = "deny"
unknown-git = "deny"
allow-git = []

[licenses]
unlicensed = "deny"
allow-osi-fsf-free = "neither"
copyleft = "deny"
# We want really high confidence when inferring licenses from text
confidence-threshold = 0.93
allow = [
    "Apache-2.0",
    "Apache-2.0 WITH LLVM-exception",
    "MIT",
    "MPL-2.0",
]

exceptions = [
    { allow = ["Zlib"], name = "tinyvec" },
    { allow = ["Apache-2.0", "BSD-2-Clause"], name = "crossbeam-queue" },
]
