[bans]
multiple-versions = "deny"
deny = [
    # You can never be too sure
    { name = "openssl" },
]
skip = [
    # askalono 0.3.0 uses an ancient regex version which pulls
    # in other duplicates
    { name = "regex", version = "=0.2.11" },
    { name = "regex-syntax", version = "=0.5.6" },
    { name = "aho-corasick", version = "=0.6.10" },
]

[licenses]
unlicensed = "deny"
unknown = "deny"
allow-osi-fsf-free = "neither"
# We want really high confidence when inferring licenses from text
confidence-threshold = 0.93
allow = [
    "Apache-2.0",
    "BSD-2-Clause",
    "MIT",
    "Zlib",
]
